<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
   
    <appSettings>
        <add 
            key="ENVIRONMENT" 
            value="Production" 
            xdt:Transform="SetAttributes" 
            xdt:Locator="Match(key)"/>
    </appSettings>
    
    <connectionStrings>
        <add 
            name="amk"
            connectionString="Server=AHOLTP0444\SQLEXPRESS;Database=amk_prod;User ID=dev;Password=dev@168"
            providerName="System.Data.SqlClient"
            xdt:Transform="SetAttributes"
            xdt:Locator="Match(name)"/>
    </connectionStrings>
    
</configuration>